extends ../../layouts/default.pug

block main
  if(role.permissions.includes("accounts_edit"))
    .container.mt-5
      .row.justify-content-center
        .col-md-6
          .card.shadow-sm
            .card-header.bg-primary.text-white
              h4.mb-0 Đổi Mật Khẩu
            .card-body
              form(
                action=`/${prefixAdmin}/accounts/editPassword/${account.id}?_method=PATCH`
                method="POST"
                enctype="multipart/form-data"
              )
                .form-group
                  label(for="password") Mật khẩu mới *
                  input(
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="Nhập mật khẩu mới"
                    required
                  )
                .form-group
                  button(
                    type="submit"
                    class="btn btn-primary btn-block"
                  ) Đổi Mật Khẩu
