extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-5
    .row
      .col-12
        +box-head("Danh sách sản phẩm")

    .row
      each item in products
        .col-lg-3.col-md-4.col-sm-6.mb-4
          .card.h-100.shadow-sm
            .inner-image
              img.card-img-top(src=item.thumbnail, alt=item.title)
            .card-body.d-flex.flex-column
              h5.card-title
                a.text-decoration-none.text-dark(href=`/products/${item.slug}`) #{item.title}
              .mt-auto
                .inner-price-new.fs-5.fw-bold.text-danger #{item.priceNew}$
                if item.price != item.priceNew
                  .inner-price-old.text-muted.text-decoration-line-through #{item.price}$
                .inner-discount.badge.bg-success.mt-2 -#{item.discountPercentage}%
