.sider
  .inner-menu
    ul 
      li
        a(href=`/${prefixAdmin}/dashboard`) Tổng quan
      if(role.permissions.includes("products_view"))
        li
          a(href=`/${prefixAdmin}/products`) Danh Sách Sản phẩm
      if(role.permissions.includes("products-category_view"))
        li
          a(href=`/${prefixAdmin}/products-category`) Danh Mục Sản phẩm
      if(role.permissions.includes("articles_view"))
        li 
          a(href=`/${prefixAdmin}/articles`) Danh Sách Bài Viết
      if(role.permissions.includes("articles-category_view"))
        li 
          a(href=`/${prefixAdmin}/articles-category`) Danh Mục Bài Viết
      if(role.permissions.includes("roles_view"))
        li
          a(href=`/${prefixAdmin}/roles`) Nhóm quyền
      if(role.permissions.includes("roles_permissions-view"))
        li
          a(href=`/${prefixAdmin}/roles/permissions`) Phân quyền
      if(role.permissions.includes("accounts_view"))
        li
          a(href=`/${prefixAdmin}/accounts`) Tài Khoản admin
      if(role.permissions.includes("trash_view"))
        li
          a(href=`/${prefixAdmin}/trash`) Thùng rác